@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.navbar {
  padding: 16px;
  display: flex;
  flex-direction: row;
  margin-left: 50%;
}

.navbar .button {
  color: black;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  padding: 16px;
  word-wrap: break-word
}

.arrow {
  width: 20%;
  height: 20%;
  margin-top: -100px;
  margin-left: 100px;
}

.hello {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 80px;
  font-family: 'Roboto';
  font-weight: 300;
  word-wrap: break-word;
  margin-left: 50px;
  margin-top: -180px;
}

.line1 {
  width: 60%;
  float: right;
}

.icons {
  width: 400px;
  display: flex;
  float: right;
  margin-right: 180px;

}

.icons a {
  margin: 16px;
}

.cer {
  color: #D1F2EB ;
  font-size: 140px;
  font-family: Roboto;
  font-weight: 900;
  word-wrap: break-word;
}

.skills {
  color: #D1F2EB ;
  font-size: 140px;
  font-family: Roboto;
  font-weight: 900;
  word-wrap: break-word;
  margin-left: 1000px;
  margin-top: -100px;
}

.inskills {
  margin-left: 1100px;
}

.vector {
  margin-left: 700px;
  margin-top: -60px;
}

.contact {
  color: #D1F2EB ;
  font-size: 140px;
  font-family: Roboto;
  font-weight: 900;
  word-wrap: break-word;
  margin-left: 800px;
}

.contactIcons {
  margin-left: 800px;
  display: flex;
  flex-direction: column;
  
}

.imgContact {
  display: flex;
  justify-content: flex-start;
}
.img {
  width: 5%;
  height: auto;
}

